form(ng-submit="submit()")
  .row
    .col-md-10
      .form-group
        textarea(ng-model="post.body", autofocus, style="width: 100%; height: 600px;")
  .row
    .col-md-2.col-md-offset-8
      .pull-right
        .checkbox
          label Publish?
            input(type="checkbox", ng-model="post.status")
        .form-group
            input.btn.btn-success(type="submit")