//- edit stuff
.row
  .col-md-10.col-md-offset-2
    form.newpost(ng-submit="submit()")
      textarea(ng-model="post.body", autofocus, style="width: 100%; height: 600px;")
      label.col-md-1.pull-left(class="checkbox")
        input(type="checkbox", ng-model="post.status")
        span Publish?
      input.btn.btn-info.btn-small.pull-right(type="submit")