.row(ng-repeat="post in posts | orderBy:'date':true ")
  ul.col-md-2.list-unstyled(id="{{ post._id }}")
    li(style="text-align: right;")
      a(href="#/post/{{ post._id }}") {{ post.date | date:'MM/dd/yyyy' }}
    li(style="text-align: right;")
      a(href="#/edit/{{ post._id }}") Edit
  .col-md-10
    .jumbotron(ng-bind-html-unsafe="post.body | markdown")
.jumbotron(ng-hide="posts.length")
  h1 Nothing yet.
  p Why not 
    a(href="#/new") write something?
