doctype 5
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="css/style.css")
  body(ng-app="app")
    .navbar
      .navbar-inner
        a.brand(href="#")= title
        ul.nav.pull-right
          li
            a(href="#/drafts") Drafts
          li
            a(href="#/new") Submit
    .container(ng-view)
    script(type='text/javascript', src="js/app.min.js")