.row
  //- edit stuff
  .span5
    form(ng-submit="submit()", style="position: fixed; height: 80%;")
      textarea(ng-model="post.body", autofocus, style="width: 100%; height: 100%;")
      label.span2(class="checkbox")
        input(type="checkbox", ng-model="post.status")
        span Publish?
      input.btn.btn-info.btn-small.pull-right(type="submit")
  //- preview stuff
  .offset1.span6
    .hero-unit(ng-bind-html-unsafe="post.body | markdown")