//- edit stuff
.row
  .span12
    form.newpost(ng-submit="submit()")
      textarea(ng-model="post.body", autofocus, style="width: 100%; height: 100%;")
      input.btn.btn-info.btn-small.pull-right(type="submit")
      label.span1.pull-right(class="checkbox")
        input(type="checkbox", ng-model="post.status")
        span Publish?
//- preview stuff
.row
  .span12
    .newpost-preview
      .hero-unit(ng-bind-html-unsafe="post.body | markdown")