.row
  .col-md-12
    h1 What's on your mind?
    //- TODO hide this tip under a link or somesuch
    p Write using 
      a(href="http://daringfireball.net/projects/markdown/syntax") Markdown
      span  and using 
      code ```
      span  to activate 
      a(href="http://jakiestfu.github.io/Behave.js/") Behave.js
form(ng-submit="submit()")
  .form-group
    textarea(ng-model="post.body", autofocus, behave, style="width:100%; height:300px;")
  .checkbox
    label
      input(type="checkbox", ng-model="post.status", ng-init="true")
      span Publish?
  button.btn.btn-success(type="submit") Save
