.row
  .col-xs-12
    h1 {{ title }} Posts
    p PouchDB can import and export to and from databases like CouchDB.
    p(ng-show="working") Working...
    p(ng-show="done") Done!
    p(ng-show="done")
      a(href="#/") Return home
form(ng-submit="action(url)", ng-hide="working")
  .form-group
    label(for="url") URL
    input#url.form-control(ng-model="url", type="url", placeholder="URL for an external database")
  button.btn.btn-success(type="submit") {{ title }}!
