.row
  .col-md-8.col-md-offset-2
    .jumbotron
      p Why not 
        a(href="#/new") write something?
.post.row(ng-repeat="post in posts | orderBy:'date':true ")
  ul.col-md-2.list-unstyled(id="{{ post._id }}")
    li(style="text-align: right;")
      a(href="#/post/{{ post._id }}") {{ post.date | date:'MM/dd/yyyy' }}
    li(style="text-align: right;")
      a(href="#/edit/{{ post._id }}") Edit
    li(style="text-align: right;")
      a(ng-click="delete(post)") Delete
  .col-md-8
    div(ng-bind-html-unsafe="post.body | markdown")